<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="/base/layout"
>
  <head>
    <title>Advice Generator</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div th:replace="/fragments/advice_content"></div>
      <div layout:fragment="divider">
        <div th:replace="/fragments/divider"></div>
      </div>

      <!-- Footer -->
      <div layout:fragment="footer">
        <div th:replace="/fragments/footer"></div>
      </div>
    </div>
  </body>
</html>
