<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{base/layout}"
>
  <head>
    <title>Welcome to Advice Generator</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div th:replace="./fragments/welcome_content"></div>
      <picture xmlns:th="http://www.w3.org/1999/xhtml">
        <source
            media="(max-width: 768px)"
            srcset="/static/images/pattern-divider-mobile.svg"
        />
        <source
            media="(min-width: 768px)"
            srcset="static/images/pattern-divider-desktop.svg"
        />
        <img th:src="@{/static/images/pattern-divider-mobile.svg}" alt="Divider" />
      </picture>
      <div layout:fragment="linkButton" class="linkButton">
        <div th:replace="./fragments/linkAdvice"></div>
      </div>
    </div>
    <!-- Footer -->
    <div class="footerContent">
      <p>Tadeusz Hlubinski</p>
    </div>
  </body>
</html>
